<h1> Welcome Organization Official</h1>

<%= link_to destroy_official_session_path, :method => :delete do %> Sign Out <% end %>
<br>

<h4><%= current_official.name %></h4>
<h4><%= current_official.email %></h4>
<h4><%= current_official.public_key %></h4>


