<h1> Welcome to Akilaes </h1>


<%= link_to "Register as a Citizen", new_citizen_registration_path %> | <%= link_to "Sign-in as a Citizen", new_citizen_session_path %>

<br> 

<%= link_to "Register as a Organization Official", new_official_registration_path %> | <%= link_to "Sign-in as a Organization Official", new_official_session_path %>
